* {
    box-sizing: border-box;
    margin: 0.155;
    padding: 0;
}
.dave {
    width: 145px;
    position: absolute;
    top: 150px;
    right: 14px;
    clip-path: ellipse();
}

.dave2 {
    width: 145px;
    position: absolute;
    top: 300px;
    right: 14px;

}